<section class="row bg-warning p-5 text-white">
  <div class="col-md-3">
    <h4>JUMIYA Shopping Center</h4>
    <p>This is the best shopping platform in the country</p>
  </div>
  <div class="col-md-3">
    <h4>Quick Links</h4>
    <a href="" class="text-white">Home</a><br />
    <a href="" class="text-white">Products</a><br />
    <a href="" class="text-white">About Us</a><br />
    <a href="" class="text-white">Contact</a><br />
  </div>
  <div class="col-md-3">
    <h3>Contact Us</h3>
    <p>Email : jumiya@gmail.com</p>
    <p>Phone : +254 7 01 020 304</p>
    <p>Address : 123 ABC Street</p>
  </div>
  <div class="col-md-3">
    <h3>Follow US</h3>
    <a href="www.twitter.com">
      <img src="../static/images/x.png" alt="twitter" />
    </a>
    <a href="www.facebook.com">
      <img src="../static//images/fb.png" alt="facebook" />
    </a>
    <a href="www.instagram.com">
      <img src="../static/images/in.png" alt="instagram" />
    </a>
  </div>

  <hr class="m-5" style="height: 10px; color: gray" />
  <b class="text-center"> All Rights Reserved. &copy; 2024</b>
</section>
